#profile-title{
    width: 100%;
    height: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#profile-title-img{
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Robotics.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#profile-title-text{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

#profile-title-version{
    width: 40%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

#profile-author{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

#profile-sys{
    width: 90%;
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

#profile-sys-time{
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-sys-cpu{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

#profile-pic-text{
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#profile-pic-icon{
    width: 10%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Tright.svg");
    background-size: contain;
    background-repeat: no-repeat;
}


#profile-component{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

#profile-component-text{
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#profile-component-icon{
    width: 10%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Tright.svg");
    background-size: contain;
    background-repeat: no-repeat;
}